{% extends 'base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/frimarke.css' %}">
{% endblock header %}

{% block overlay %}
  <nav>
    <ul class="navigation">
      <li><a href="{% url 'frontend:index' %}">Home</a></li>
      {% for entry in sitemap %}
      <li>
        <a href="{% url 'frontend:page-detail' entry.1 %}">{{ entry.0 }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  {% block content %}
  {% endblock content %}
{% endblock overlay %}
