{% extends 'base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/frimarke.css' %}">
{% endblock header %}

{% block overlay %}
  <nav>
    <script src="{% static 'js/navigation.js' %}"></script>
    <button onclick="toggleMenu()" class="menu-toggle"></button>
    <ul id="navigation" class="hidden">
      <li><a href="{% url 'frontend:index' %}">Home</a></li>
      {% for entry in sitemap %}
      <li>
        <a href="{% url 'frontend:page-detail' entry.1 %}">{{ entry.0 }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% block content %}
  {% endblock content %}

  <footer class="footer">
        <div class="container">
            <h3 class="title">{{ settings.name }}</h3>
            <div class="contacts">
              {% if settings.email %}
                <div class="contact">
                  <span class="contact-type icon envelope">E-Mail</span>
                  <span class="contact-link"><a href="mailto:{{ settings.email }}">{{ settings.email }}</a></span>
                </div>
              {% endif %}
              <div class="contact">
                <span class="contact-type icon rss">Feed</span>
                <span class="contact-link"><a href="{% url 'feed' %}">RSS</a></span>
              </div>
            </div>
            <div class="info">
                {{ settings.info }}
            </div>
       </div>
   </footer>
{% endblock overlay %}
