{% extends 'layouts/frimarke/base.html' %}
{% load bokstaever %}
{% load static %}

{% block content %}
  <div class="posts">
      {% for post in posts %}
        <a href="{% url 'frontend:post-detail' post.pk %}">
          {% if post.image %}
            <div class="post">
          {% else %}
            <div class="post noimage">
          {% endif %}
            {% if post.image %}
            <div class="post-image">
              <img src="{{ post.image.image.url }}">
            </div>
            {% endif %}
            <div class="post-body">
              <div class="post-header">
                <h2>{{ post.headline }}</h2>
              </div>
              <div class="post-content">
                {{ post.text | markdownify | truncatechars_html:250 | striptags }}
              </div>
              <small class="post-footer">
                {{ post.published }}, {{ post.text | readtime }}min read
                <span class="arrow">→</span>
              </small>
            </div>
          </div>
        </a>
        {% endfor %}
    </div>

    {% include 'snippets/pagination.html' %}

<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/frimarke.js' %}"></script>
{% endblock content %}
