# Javascript hell
/dashboard/node_modules

# distilled Javascript
/dashboard/dist
/server/contrib

# Downloaded dependencies
/server/bokstaever/static/js/*.min.js

# Caches, virtual environment, etc.
.pytest_cache
/venv
