# Virtual environment
/venv
.env.local
.env.*.local

# Python cache
__pycache__
*.pyc

# Backend related stuff
/server/bokstaever/media
*.css
*.css.map

# Frontend related stuff
node_modules
/dashboard/dist
/server/contrib

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.DS_Store

# Testing and coverage
.pytest_cache
.coverage
