# Virtual environment
/venv
.env.local
.env.*.local

# Python cache
__pycache__
*.pyc

# Static files and external dependencies
/src/bokstaever/media
/src/bokstaever/images
/src/bundle
/src/dashboard/static/dashboard/extern
/src/static
*.css.map
*.min.js

# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.DS_Store

# Testing and coverage
.pytest_cache
.coverage
