:80 {
    proxy / http://web/ {
        except /static /media /dashboard
        transparent
        websocket
    }
    log stdout
}

:80/static/ {
    root /srv/bundle/static
    log stdout
}

:80/media/ {
    root /srv/media/
    log stdout
}

:80/dashboard/ {
  root /srv/dashboard
  log stdout
}
