{% load static %}
{% load i18n %}

<!-- Hidden input used by the field -->
<input id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="hidden" value="{{ widget.value|default:"" }}">

<div class="card" style="width: 220px">
  <div class="card-body">
    <div class="row">
      <div class="col text-center">
        {% spaceless %}
        <div id="{{ widget.name }}Selected">{% if multiple %}{{ widget.value|length }} {% trans "Images selected" %}
          {% else %}
            <img class="small-thumbnail img-thumbnail {% if not url %}hidden{% endif %}" src="{{ url }}">
         {% endif %}
        </div>
        {% endspaceless %}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ widget.name }}Modal">
          {% trans "Select image" %}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for selection, initially hidden. -->
<div class="modal fade" id="{{ widget.name }}Modal" tabindex="-1" role="dialog" aria-labelledby="#{{ widget.name }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ widget.name }}ModalLabel">{% trans "Select an image" %}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="{% trans "Close" %}"></button>
      </div>
      <div class="modal-body">
        <div class="images">
          <div class="row" id="{{ widget.name }}Images"></div>
        </div>

        <nav aria-label="Image navigation">
          <ul class="pagination justify-content-center">
            <li id="{{ widget.name }}ButtonPrevious" class="page-item"><button type="button" class="page-link">{% trans "Previous" %}</button></li>
            <li id="{{ widget.name }}ButtonNext" class="page-item"><button type="button" class="page-link">{% trans "Next" %}</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="{% static "dashboard/js/image_select.js" %}"></script>
<script>
  const text = {
    count: "{% trans " Images selected" %}",
    noImages: "{% trans "No images." %}"
  }

  {% if not multiple %}
    widget = new ImageSelectWidget("{{ widget.name }}", false, null, text)
  {% else %}
    widget = new ImageSelectWidget(
      "{{ widget.name }}",
      true,
      new Set([
        {% for image in widget.value %}
          {{ image.pk }}
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      ]),
      text
    )
  {% endif %}

  widget.getImages()
</script>
