{% load i18n %}

{% if object %}
  <button type="button" class="btn btn-danger float-end delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
    {% trans "Delete" %}
  </button>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "Confirmation required" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans "Close" %}"></button>
        </div>
        <div class="modal-body">
          {{ warning|safe }} {% trans "Are you sure you want to continue?" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
          <form action="{% url view object.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">{% trans "Delete" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
