{% extends 'dashboard/base.html' %}

{% block content %}

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-content">
                        <slot></slot>
                    </div>
                    <button class="btn btn-default btn-modal" @click="$emit('close')">Close</button>
                </div>
            </div>
        </div>
    </transition>
</script>

<script type="text/x-template" id="image-template">
   <div class="image-list">
        <div v-for="image in images" class="thumbnail">
            <img :src="image.path" @click="$emit('selected', image)">
        </div>
    </div>
</script>
<script>
    Vue.component('image-list', {
        template: '#image-template',
        delimiters: ['{(', ')}'],
        mounted () {
            this.getImages()
        },
        data () {
            return {
                images: []
            }
        },
        methods: {
            getImages () {
                axios({
                    method: 'get',
                    url: '/dashboard/images/list/1',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then((response) => {
                    let data = response.data
                    this.$set(this, 'images', data.fields ? data.fields : [])
                })
            }
        }
    })
</script>


<div id="editPost">
<form v-on:submit.prevent="submitPost">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Title</td>
            <td><input type="text" v-model="post.headline"></td>
       </tr>
       <tr>
           <td>Content</td>
           <td><textarea v-model="post.text"></textarea></td>
       </tr>
       <tr v-if="image">
            <td>Image</td>
            <td><img class="thumbnail" :src="image.path"></td>
       </tr>
    </table>
    <button class="btn btn-default btn-right" type="submit">Submit</button>
</form>
    <button type="iuae" @click="showModal = true">Select Image</button>
    <modal v-if="showModal" @close="showModal = false">
        <image-list @selected="selectImage" />
    </modal>
</div>
<script>
    Vue.component('modal', {
        template: '#modal-template'
    })
    new Vue({
        el: '#editPost',
        data: {
            post: {},
            csrf: null,
            image: null,
            showModal: false
        },
        mounted() {
            this.$set(
                this,
                'csrf',
                document.getElementsByName('csrfmiddlewaretoken')[0].value
            )
            this.getPost()
        },
        methods: {
            selectImage (image) {
                this.post['image'] = image.pk
                this.image = image
                this.showModal = false
            },
            getPost () {
                axios({
                    method: 'get',
                    url: '{{ request.get_full_path }}',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then((response) => {
                    let data = response.data
                    this.post = data[0] ? data[0].fields : {}
                })
            },
            submitPost () {
                axios({
                    method: 'post',
                    url: '{{ request.get_full_path }}',
                    data: this.post,
                    headers: {
                        'X-CSRFToken': this.csrf,
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
            }
        }
    })
</script>
{% endblock content %}
