/*
Provides some basic styling for input Elements.
*/

@import '@/modules/variables.scss';

input[type=file] {
  display: none;
  overflow: hidden;
  position: relative;
}

textarea,
input[type=text],
input[type=email],
input[type=password] {
  font-family: $font-family;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 16px;
}

textarea {
  height: 250px;
  resize: none;
  padding: 10px 15px;
}

input[type=text],
input[type=email],
input[type=password] {
  height: 12px;
  width: 100%;
  padding: 14px;
}
