.fade-enter-active {
  transition: opacity 1s linear;
}
.fade-leave-active {
  transition: none;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}

.content-enter-active {
  transition: opacity .1s;
}
.content-leave-active {
  transition: opacity 0s;
}
.content-enter, .content-leave-to {
  opacity: 0;
}
