{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'extern/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'extern/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/image_select.js' %}"></script>

    {% block header %}
    {% endblock header %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboard:post-list" %}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboard:page-list" %}">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboard:image-list" %}">Images</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
