{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'extern/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Dashboard - {% block title %}{% endblock title %}</title>

    <script src="{% static 'extern/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/image_select.js' %}"></script>

    {% block header %}
    {% endblock header %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            {% include "dashboard/navigation.html" with name="dashboard:home" title="Dashboard" %}
            {% include "dashboard/navigation.html" with name="dashboard:post-list" title="Posts" %}
            {% include "dashboard/navigation.html" with name="dashboard:page-list" title="Pages" %}
            {% include "dashboard/navigation.html" with name="dashboard:image-list" title="Images" %}
            {% include "dashboard/navigation.html" with name="dashboard:gallery-list" title="Galleries" %}
          </ul>

          {% if request.user.is_authenticated %}
            <ul class="navbar-nav d-flex">
              <li class="nav-item">
                <a class="nav-link" href="{% url "dashboard:logout" %}">Hello, {% firstof request.user.first_name request.user.username %} (logout)</a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="content container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
