{% extends "dashboard/base.html" %}

{% block title %}Pages{% endblock title %}

{% block content %}
  <h1>Pages</h1>
  <a href="{% url "dashboard:page-create" %}">Create new page</a>

  {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Headline</th>
          <th scope="col">In menu</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for page in object_list %}
        <tr>
          <td>{{ page.pk }}</td>
          <td>{{ page.headline }}</td>
          <td>{{ page.show_menu }}</td>
          <td>
            <a href="{% url "frontend:page-detail" page.slug %}">Link</a>
            {% if page.t == "db" %}
              <a href="{% url "dashboard:page-edit" page.pk %}">Edit</a>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No pages
  {% endif %}

  {% include 'dashboard/pagination.html' %}
{% endblock content %}
