$font-family-sans-serif:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$navbar-height: 4rem;

body {
    font-family: $font-family-sans-serif;
}

.navbar {
    display: block;
    width: 100%;
    height: $navbar-height;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    ul {
        list-style: none;
        margin: 0 0 0 0;
        li {
            margin-right: 35px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: .2rem;
            position: relative;
            float: left;
            text-decoration: none;
            line-height: $navbar-height;
            color: #222;

            a {
                text-decoration: none;
                color: #222;
            }
        }
    }
}

div.container {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    line-height: 1.6;
}

table {
    &.table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            text-align: left;
            padding: 10px;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #ddd;
        }

        .posts {
            cursor: pointer;
        }

        &.table-list {
            tbody tr {
                &:hover {
                    background-color: #f5f5f5
                }
            }
        }
    }
}

.pagination {
    margin: 20px auto auto auto;
    width: 45px;
    button {
        margin: 1px;
        padding: 0;
        outline: none;
        border-style: none;
        cursor: pointer;
        opacity: 0.7;
        &:focus, &:active, &:hover, &:visited {
            border-style: none !important;
            border: 0 !important;
            outline: none !important;
        }
        &:hover {
            opacity: 0.9;
        }
        &:disabled {
            opacity: 0.4;
        }
    }
}

.btn {
    &.btn-default {
        background-color: rgb(44, 70, 127);
        color: white;
        border: none;
        height: 35px;
        cursor: pointer;
        &:hover {
            background-color: rgb(36, 57, 105);
        }
        margin-top: 8px;
    }

    &.btn-right {
        float: right;
    }
}

textarea {
    width: 100%;
    height: 250px;
    resize: none;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid #ccc;
    font-family: $font-family-sans-serif;
}

input[type=text] {
    border-radius: 0;
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    padding: 15px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

$preview-size: 200px;

.preview-container {
    display: flex;
    width: calc(100vw - 16px);
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
    .preview {
        width: $preview-size;
        margin: 5px;
        .image-preview {
            width: $preview-size;
            height: $preview-size;
            margin-bottom: 2px;
            position: relative;
            img {
                &.uploading {
                    filter: brightness(0.6) blur(0.8px);
                }
            }
            .progress {
                position: absolute;
                width: 2px;
                height: 0%;
                background-color: #ccc;
                bottom: 5px;
                right: 5px;
                border-radius: 2px;
            }
        }
    }
}
