@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../font/opensans.ttf') format("truetype");
}

.image {
  height: 380px;
  position: relative;
  width: 100%;
  svg {
      position: absolute;
      top: 0;
      left: -2px;
      width: calc(100% + 4px);
      height: 380px;
      background-color: transparent;
  }
}

.post {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  h2 {
    margin-top: -10px;
  }
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0 0 10px 10px;
  border-top: none;
  color: #212529;

  .footer {
    float: right;
  }

  @media screen and (max-width: 1000px) {
      border: none !important;
  }
}

.post-content {
    background-color: white;
    width: calc(100%);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    border-top: none;
    box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Open Sans';
  @media screen and (max-width: 1000px) {
    margin: 0;
  }
}

.overview {
    column-count: 3;
    @media screen and (min-width: 1800px) {
        column-count: 3;
    }
    @media screen and (min-width: 1200px) and (max-width: 1799px){
        column-count: 2;
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
    column-count: 1;
    column-gap: 10px;
    width: 70%;
    margin: 0 auto;
}
