<script type="text/x-template" id="image-template">
  <div class="image-container">
    <div class="image-list">
      <div v-for="image in images" class="thumbnail">
        <img :src="image.path" @click="$emit('selected', image)">
      </div>
    </div>

    <div class="pagination">
      <button :disabled="!pagination.previous_page" @click="setPage(pagination.previous_page)" class="icon left" />
      <button :disabled="!pagination.next_page" @click="setPage(pagination.next_page)" class="icon right" />
    </div>
  </div>
</script>

<script>
    Vue.component('image-list', {
      template: '#image-template',
      delimiters: ['{(', ')}'],
      props: ['history'],
      refs: ['imageContainer'],
      data () {
          return {
            images: [],
            pagination: {}
          }
      },
      mounted () {
        if (this.history) {
          this.showPage()
          window.onpopstate = (e) => {
            this.showPage()
          }
        } else {
          this.getImages(1)
        }
      },
      methods: {
            getImages (page) {
                axios({
                    method: 'get',
                    url: '/dashboard/images/list/' + page,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then((response) => {
                    let data = response.data
                    this.$set(this, 'images', data.fields ? data.fields : [])
                    this.$set(this, 'pagination', data.pagination ? data.pagination : {})
                })
            },
            showPage () {
              let location = window.location.href
              let page = location.substring(location.lastIndexOf('/') + 1)
              this.getImages(page)
            },
            setPage (page) {
              if (this.history) {
                history.pushState({}, '', '/dashboard/images/list/' + page)
              }
                this.getImages(page)
            }
        }
    })
</script>
