{% extends 'base.html' %}

{% block ui %}
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="navbar">
        <label class="menu-toggle" for="menu"><span>Toggle</span></label>
        <ul>
            <li>
                <a>Startseite</a>
            </li>
            <li>
                <a>Neuigkeiten</a>
            </li>
            {% for entry in sites %}
                <li>
                    <a>{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
{% endblock ui %}
