{% extends 'base.html' %}

{% block ui %}
  <div class="navigation">
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <nav class="navbar">
      <label class="menu-toggle" for="menu"><span>Toggle</span></label>
      <ul>
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        {% if settings.behavior == 'site' %}
          <li>
            <a href="{% url 'blog' %}">Posts</a>
          </li>
        {% endif %}
        {% for entry in sitemap %}
          <li>
            <a href="{% url 'page-detail' entry.1 %}">{{ entry.0 }}</a>
          </li>
        {% endfor %}
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    {% block content %}
    {% endblock content %}
  </div>
{% endblock ui %}
