{% extends 'bokstaever/base.html' %}
{% load bokstaever %}

{% block content %}
    <div class="posts">
        {% for post in posts %}
            <div class="blog">
                <img class="blog-img" src="{% url 'download' pk=post.image.pk %}">
            </div>
            <div class="blog-content">
                <div class="blog-header">
                    <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h1>
                    <small>
                        {{ post.published_date | date:"c"}}
                    </small>
               </div>
              {{ post.markdown | markdownify }}
        </div>
    {% endfor %}

    {% if posts.paginator.num_pages > 1 %}
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'blog' page=posts.previous_page_number %}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for page in posts.paginator.num_pages|get_range %}
                    {% if page == posts.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ page }}</span>
                        </li>
                    {% elif page == 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'blog' page=page %}">{{ page}}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'blog' page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'blog' page=posts.next_page_number %}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}
