{% extends 'frontend/base.html' %}
{% load bokstaever %}

{% block title %} {{ page.headline }} -{% endblock title %}

{% block content %}
<div class="page">
  {% if page.image %}
  <div class="header">
    <div class="image">
      <img src="{{ page.image.image.url }}">
    </div>
    <span class="caption">
      {{ page.image.title }}
    </span>
  </div>
  {% endif %}
  <div class="content">
    <h1>{{ page.headline }}</h1>
    <div class="text" lang="de">
      {% if page.type == 'md' %}
        {{ page.text|markdownify:True }}
      {% elif page.type == 'mdhtml' %}
        {{ page.text|markdownify:False }}
      {% elif page.type == 'html' %}
        {{ page.text|safe }}
      {% elif page.type == 'raw' %}
        {{ page.text|linebreaks }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
