{% extends 'frontend/base.html' %}

{% block title %} {{ post.headline }} -{% endblock title %}

{% block content %}
<div class="site">
  <div class="post">
    {% if post.image %}
    <div class="post-header">
      <div class="post-image">
        <img src="{{ post.image.image.url }}">
      </div>
      <span class="post-image-caption">
        {{ post.image.title }}
      </span>
    </div>
    {% endif %}
    <div class="post-content">
      <h1>{{ post.headline }}</h1>
      <div class="post-text" lang="de">
        {% with post as site %}
          {% include 'snippets/renderer.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
