{% extends 'base.html' %}
{% load static %}

{% block javascript %}
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
{% endblock javascript %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock stylesheets %}

{% block base %}
    <ul class="navigation">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">New Entry</a></li>
        <li><a href="">New Picture</a></li>
        <li><a href="">Posts</a></li>
    </ul>
    {% block content %}

    {% endblock content %}
{% endblock base %}
