{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}{% trans "Galleries" %}{% endblock title %}

{% block content %}
  <h1>{% trans "Galleries" %}</h1>
  <p>
    <a href="{% url "dashboard:gallery-create" %}">{% trans "Create new gallery" %}</a>
  </p>

  {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{% trans "ID" %}</th>
          <th scope="col">{% trans "Name" %}</th>
          <th scope="col">{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for gallery in object_list %}
        <tr>
          <td>{{ gallery.pk }}</td>
          <td>{{ gallery.name }}</td>
          <td><a href="{% url "dashboard:gallery-edit" gallery.pk %}">{% trans "Edit" %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% trans "No pages" %}
  {% endif %}

  {% include "dashboard/snippets/pagination.html" %}
{% endblock content %}
