{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Upload images{% endblock title %}

{% block header %}
    <script src="{% static "dashboard/js/image_upload.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "dashboard/css/image_upload.css" %}">
{% endblock header %}

{% block content %}
  <h1>Upload images</h1>

  <!-- Shows alerts on upload errors -->

  <div id="alertAnchor"></div>
  <!-- This form is never submitted, upload happens via js -->
  <form id="imageUpload">
    {% csrf_token %}

    <div class="form-file">
      <input autocomplete="off" class="form-file-input" type="file" id="imageInput" multiple>
      <label class="form-file-label" for="imageInput">
        <span class="form-file-text">Choose images</span>
        <span class="form-file-button">Browse</span>
      </label>

    <!-- Used for displaying images selected via the input above -->
    <div id="anchor" class="images"></div>

    <button id="trigger" type="button" class="btn btn-primary float-right">Upload</button>
  </form>

  <script>
    const imageUpload = new ImageUpload("{% url "api:image-upload" %}")
    imageUpload.updateImages()
  </script>
{% endblock content %}
