{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}{% trans "Image list" %}{% endblock title %}

{% block content %}
  <!-- Warns if there are unprocessed images -->
  {% if is_processing %}
  <div class="alert alert-warning" role="alert">
    {% blocktrans count c=processing_count %}
      One image is still processing in the background.
      {% plural %}
      {{ c }} images are still processing in the background. They show up once there finished.
    {% endblocktrans %}
  </div>
  {% endif %}

  <h1>{% trans "Images" %}</h1>

  <div class="list-options">
    <form class="form-inline">
      <label for="ordering">{% trans "Ordering" %}</label>
      <select id="ordering" name="ordering" class="form-control" onchange="this.form.submit()">
        <option value="desc" {% if request.GET.ordering == "desc"  or not request.GET.ordering %}selected{% endif %}>
          {% trans "Creation Date - Descending" %}
        </option>
        <option value="asc" {% if request.GET.ordering == "asc" %}selected{% endif %}>
          {% trans "Creation Date - Ascending" %}
        </option>
        <option value="new" {% if request.GET.ordering == "new" %}selected{% endif %}>
          {% trans "Upload Date - Descending" %}
        </option>
      </select>
      <noscript>
        <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}">
      </noscript>
    </form>
  </div>

  <p><a href="{% url "dashboard:image-create" %}">{% trans "Create image" %}</a></p>

  {% if object_list %}
    <div class="images">
      <div class="row">
        {% for image in object_list %}
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="{% url "dashboard:image-edit" image.pk %}">
              <img class="img-thumbnail fixed-size" src="{{ image.thumbnail.image_file.url }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    {% trans "No images." %}
  {% endif %}

  {% include "dashboard/snippets/pagination.html" %}
{% endblock content %}
