{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit Image" %}{% endblock title %}

{% block content %}
  <h1>{% trans "Edit Image" %}</h1>
  <div class="row justify-content-center">
    <div class="col-10 col-md-5 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top" src="{{ image.thumbnail.image_file.url }}">
        <div class="card-body">
          {% include "dashboard/snippets/forms.html" with simple=True %}

          {% blocktrans with post_count=object.post_set.count page_count=object.databasepage_set.count gallery_count=object.gallery_set.count asvar warning %}
            You're about to delete this image. It will be removed from all galleries, posts and pages using it. Currently used by:
            <ul>
              <li>Posts: {{ post_count }}</li>
              <li>Pages: {{ page_count }}</li>
              <li>Galleries: {{ gallery_count }}</li>
            </ul>
          {% endblocktrans %}
          {% include "dashboard/snippets/delete_confirm.html" with view="dashboard:image-delete" %}
          <a href="{{ image.files.last.image_file.url }}">{% trans "View" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
