$breakpoint: 760px;

$color_blue: #026773;

.posts {
  margin: 60px auto auto auto;

  a {
    text-decoration: none;
    color: rgb(62, 62, 62);
  }

  .post {
    @media screen and (max-width: $breakpoint) {
      width: 100%;
      border: none;
      &.noimage {
        .post-header  {
          border-top: $color_blue solid 1px;
          border-radius: 0px;
          margin: 0 20px 0 20px;  
        }
      }
      .post-body {
        border: none !important;
      }
    }
    width: 350px;
    margin-bottom: 20px;

    .post-body {
        padding-bottom: 23px;
        $border_styling: #eee solid 1px;
        border: $border_styling;
        border-radius: 5px;
        border-top: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    &.noimage {
        border-top-color: $color_blue;
    }

    border-top: transparent solid 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .post-image {
      img {
        max-height: 200px;
      }
    }

    .post-header, .post-footer {
      padding: 4px;
    }

    .post-header {
      h2 {
        margin: 2px 0 2px 0;
        text-align: center;
      }
    }

    .post-content {
      text-align: justify;
      font-size: 17px;
      padding: 6px 6px 0 6px;
    }

    .post-footer {
      float: right;
      opacity: 0.8;
    }
  }
}

.site {
  .post, .page {
    .post-header, .page-header {
      .post-image, .page-image {
        width: 70%;
        margin: 80px auto auto auto;
        overflow: hidden;
        @media screen and (max-width: 500px) {
            height: 300px;
        }
        @media screen and (min-width: 500px) and (max-width: 800px){
            height: 400px;
        }
        @media screen and (min-width: 800px) and (max-width: 1300px){
            height: 450px;
        }
        @media screen and (min-width: 1300px) {
            height: 500px;
        }
      } 
      .post-image-caption {
        margin: 3px 0 0 0;
        display: block;
        opacity: 0.8;
        font-style: italic;
        text-align: center;
      }
    }

    font-size: 18px;
    .post-content, .page-content {
      @media screen and (max-width: 400px) {
        width: 90%;
      }
      width: 70%;
      &:not(.image) {
        margin-top: 60px;
      }
      margin: auto;
    }
    .post-text {
      line-height: 25px;
    }
  }
}

nav {
  @media screen and (max-width: $breakpoint) {
    button.menu-toggle {
      border: none;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 60px;
      height: 60px;
      line-height: 0;
      display: block !important;
      text-indent: -9999px;
      background: #fff url(/static/svg/menu.svg) 50% 50% / 25px 25px no-repeat;
      cursor: pointer;
    }
  }
  button.menu-toggle {
    display: none;
    z-index: 100;
  }

  ul#navigation {
    list-style: none;
    margin: 0 0 8px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;

    position: absolute;
    top: 0px;
    width: 100%;
    background-color: white;

    z-index: 50;

    li {
      &:hover {
        background-color: $color_blue;
        color: white;
      }
      color: black;
      padding: 0;
      a {
        padding: 14px 5px 2px 5px;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        opacity: 0.95;
      }
    }

    @media screen and (max-width: $breakpoint) {
      flex-flow: column;
      &.hidden {
        display: none;
      }
      li {
        display: block;
        margin-left: 8px;
        &:first-child {
          margin-top: 60px;
        }
        &:last-child {
          margin-bottom: 8px;
        }
        a {
          padding: 2px 5px 2px 8px;
          width: 100%;
        }
      }
    }
  }
}

/*
Styling for galleries on pages and posts
*/
.gallery {
  width: 100%;
  margin: 10px auto 10px auto;
  background-color: white;
  padding: 5px 0px 5px 0px;

  border-top: 1px solid $color_blue;
  border-bottom: 1px solid $color_blue;

  .thumbnails {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    .thumbnail {
      margin: 5px;
      @media screen and (max-width: 1200px) {
        width: 150px;
        height: 150px;
      }
      @media screen and (max-width: 800px) {
        width: 200px;
        height: 200px;
      }
      @media screen and (max-width: 442px) {
        width: 90vw;
        height: 90vw;
      }
      width: 200px;
      height: 200px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }
}
