$breakpoint: 500px;

.posts {
  margin: 60px auto auto auto;

  a {
    text-decoration: none;
    color: rgb(62, 62, 62);
  }

  .post {
    width: 350px;
    margin-bottom: 20px;

    // Border styling for boxes
    $border_styling: #eee solid 1px;
    border: $border_styling;
    border-radius: 5px;
    border-top: transparent solid 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    .post-image {
      img {
        max-height: 200px;
        margin-left: -1px;
        width: calc(100% + 2px);
      }
    }

    .post-header, .post-footer {
      padding: 4px;
    }

    .post-header {
      h2 {
        margin: 2px 0 2px 0;
        text-align: center;
      }
    }

    .post-content {
      text-align: justify;
      font-size: 17px;
      padding: 6px;
    }

    .post-footer {
      float: right;
      opacity: 0.8;
    }
  }
}

.site {
  .post, .page {
    .post-header {
      .post-image-caption {
        margin: 3px 0 0 0;
        display: block;
        opacity: 0.8;
        font-style: italic;
        text-align: center;
      }
    }

    font-size: 18px;
    .post-content, .page-content {
      width: 70%;
      &:not(.image) {
        margin-top: 60px;
      }
      margin: auto;
    }
    .post-text {
      line-height: 25px;
    }
  }
}

nav {
  @media screen and (max-width: $breakpoint) {
    button.menu-toggle {
      border: none;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 60px;
      height: 60px;
      line-height: 0;
      display: block !important;
      text-indent: -9999px;
      background: #fff url(/static/svg/menu.svg) 50% 50% / 25px 25px no-repeat;
      cursor: pointer;
    }
  }
  button.menu-toggle {
    display: none;
    z-index: 100;
  }

  ul#navigation {
    list-style: none;
    margin: 0 0 8px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 300;

    position: absolute;
    top: 0px;
    width: 100%;
    background-color: white;

    z-index: 50;

    li {
      &:hover {
        background-color: #026773;
        color: white;
      }
      color: black;
      padding: 0;
      a {
        padding: 14px 5px 2px 5px;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        opacity: 0.95;
      }
    }

    @media screen and (max-width: $breakpoint) {
      flex-flow: column;
      &.hidden {
        display: none;
      }
      li {
        display: block;
        margin-left: 8px;
        &:first-child {
          margin-top: 60px;
        }
        &:last-child {
          margin-bottom: 8px;
        }
        a {
          padding: 2px 5px 2px 8px;
          width: 100%;
        }
      }
    }
  }
}
