$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {
  margin: 0;
  font-family: $font-family;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon {
    outline: none;
    border: none;
    display: inline-block;
    width: 20px;
    height: 20px;

    &.left {
        background: transparent url(/static/svg/arrow-left.svg) 0px 0px no-repeat;
        background-size: contain;
    }

    &.right {
        background: transparent url(/static/svg/arrow-right.svg) 0px 0px no-repeat;
        background-size: contain;
    }

    &.envelope {
        background: transparent url(/static/svg/envelope-closed.svg) 0px 0px no-repeat;
        background-size: contain;
    }

    &.rss {
        background: transparent url(/static/svg/rss.svg) 0px 0px no-repeat;
        background-size: contain;
    }
}
