$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


body {
  margin: 0;
  font-family: $font-family;
}

.icon {
    outline: none;
    border: none;
    display: inline-block;
    width: 20px;
    height: 20px;

    &.left {
        background: transparent url(/static/svg/arrow-left.svg) 0px 0px no-repeat;
        background-size: contain;
    }

    &.right {
        background: transparent url(/static/svg/arrow-right.svg) 0px 0px no-repeat;
        background-size: contain;
    }
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 220px;
    height: 100%;
    transform: translate3d(-220px, 0, 0);
    transition: transform .35s;
    z-index: 1000;
    // border-right: 1px solid #eee;
    // box-sizing: border-box;
    ul {
        list-style: none;
        padding: 0px 10px 0px 15px;
        li {
            text-transform: uppercase;
            letter-spacing: .2rem;
            line-height: 3rem;
            border-bottom: 1px solid #eee;
            a {
                text-decoration: none;
                color: #222;
                width: 100%;
                display: block;
            }
        }
    }
}

label.menu-toggle {
    // border-right: 1px solid #eee;
    // border-bottom: 1px solid #eee;
    // box-sizing: border-box;
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0;
    display: block;
    text-indent: -9999px;
    background: #fff url(/static/svg/menu.svg) 50% 50% / 25px 25px no-repeat;
    cursor: pointer;
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked + .navbar {
    transform: translate3d(0, 0, 0);
}

.posts {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px;

  .card {
    display: flex;
    height: 200px;

    .card-header {
      flex: 0 0 200px;
      img {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
      width: 200px;
    }
    .card-body {
      float: right;
      flex: 1;
      padding: 8px 5px 5px 8px;
      border: 1px solid #eee;
      border-radius: 0 3px 3px 0;

      .card-text {
        height: 130px;
      }
      .card-title {
        margin: 3px 0 2px 0;
      }
      .card-footer {
        span.arrow {
          float: right;
          font-size: 16px;
        }
      }
    }
  }
}
