{% extends 'frontend/base.html' %}
{% load bokstaever %}

{% block content %}
    <div class="posts">
      {% for post in posts %}
        <a href="{% url 'post-detail' post.pk %}">
          <div class="card">
            <div class="card-header">
              <img class="card-img-top" src="{{ post.image.image.url }}">
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ post.headline }}</h4>
              <div class="card-text">
                {{ post.text | markdownify | truncatechars_html:200 }}
              </div>
              <small class="card-footer">
                {{ post.published }}, {{ post.text | readtime }}min read
                <span class="arrow">→</span>
              </small>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock content %}
