{% extends 'bokstaever/base.html' %}

{% load bokstaever %}

{% block content %}
    <div class="overview">
    {% for post in object_list %}
        <div class="post">
          <a href="/post/{{ post.slug }}">
            <span class="image" style="background-image: url({{ post.image.files.first.path.url }});" > </span>
            <div class="post-content" lang="en">
                <div class="post-text">
                  <h2>{{ post.headline }}</h2>
                  <p>{{ post.text | truncatewords:60 }}</p>
                  <div class="post-footer">
                      {{ post.text | estimate_time }}, {{ post.published }} →
                  </div>
              </div>
            </div>
          </a>
        </div>
    {% endfor %}
    </div>
    {% include 'bokstaever/pagination.html' %}
{% endblock content %}
