.content {
    margin-top: 20px;
}

.images > .row {
  margin-bottom: 20px;
}

.images > .row > .col-sm-2 {
    margin-bottom: 20px;
}

.hidden {
   display: none;
}

.selected {
    border-width: 3px;
}
