{% extends 'dashboard/base.html' %}

{% block content %}
<form enctype="multipart/form-data" id="imageUpload" v-on:submit.prevent="uploadAll">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Image</td>
            <td>
                <input
                    type="file"
                    multiple
                    ref="upload"
                    accept="image/*"
                    @change="imageSelect">
            </td>
        </tr>
    </table>
    <div class="preview-container">
        <div class="preview" v-for="image in images" v-if="images">
            <div class="image-preview">
                <img :src="image.url">
            </div>
            <input type="text" v-model="image.title">
            <progress :value="image.progress" max="100" v-show="showProgress(image)"></progress>
        </div>
    </div>
    <button class="btn btn-default btn-right" type="submit">Submit</button>
</form>

<script>
    new Vue({
        el: '#imageUpload',
        refs: ['upload'],
        data: {
            'progress': 0,
            'images': []
        },
        methods: {
            showProgress: function (image) {
                return image.progress > 0 && image.progress < 100
            },
            imageSelect (event) {
                this.images = []
                let images = this.$refs.upload.files
                for (i = 0; i < images.length; i++) {
                    let name = images[i].name
                    let title = name.substring(0, name.lastIndexOf('.'))

                    this.images.push({
                        'title': title,
                        'file': images[i],
                        'url': URL.createObjectURL(images[i]),
                        'progress': 0
                    })
                }
            },
            uploadAll() {
                for (i = 0; i < this.images.length; i++) {
                    this.uploadImage(this.images[i])
                }
            },
            uploadImage (image) {
                let csrf_token = this.$el.firstChild.value
                let formData = new FormData()
                formData.append('image', image.file)
                formData.append('title', image.title)
                axios({
                    method: 'post',
                    url: '/dashboard/images/upload/',
                    data: formData,
                    headers: {
                        'X-CSRFToken': csrf_token,
                        'Content-Type': 'multipart/form-data',
                    },
                    onUploadProgress: (progressEvent) => {
                        image.progress = (progressEvent.loaded / progressEvent.total) * 100
                    }
                })
            }
        }
    })
</script>
{% endblock content %}
